---
import { Image } from "astro:assets";
import Wrapper from "../shared/Wrapper.astro";
import "./blockThree.scss";
import Headline from "../shared/Headline.astro";
console.log(Astro.props.data);
---

<div class="coworkingb3">
  <Wrapper>
    <div class="coworkingb3-title">
      <Headline ele="h2" hlstyle="two"> {Astro.props.data.mainTitle}</Headline>
    </div>
    <div class="coworkingb3-items">
      {
        Astro.props.data.items.map((item) => {
          return (
            <div class="coworkingb3-item">
              <div class="coworkingb3-item-icon">
                <Image
                  src={item.icon.sourceUrl}
                  alt={item.icon.altText}
                  inferSize={true}
                />
              </div>
              <div class="coworkingb3-item-title">
                <p>{item.title}</p>
              </div>
            </div>
          );
        })
      }
    </div>
  </Wrapper>
</div>
