---
import Wrapper from "../shared/Wrapper.astro";
import "./pricingBlocks.scss";
---

<div class="pricing">
  <Wrapper classes="pricing-wrapper">
    {
      Astro.props.data.priceBoxes.map((box) => {
        return (
          <div class={`pricing-box pricing-box-bg-${box.backgroundColour}`}>
            <div class="pricing-box-title">
              <h2>{box.topTitle}</h2>
            </div>
            <div class="pricing-box-points">
              {box.points.map((point) => {
                return (
                  <div class="pricing-box-points-point">
                    {point.pointTitle && (
                      <div class="pricing-box-points-point-title">
                        <p>{point.pointTitle}</p>
                      </div>
                    )}
                    <div class="pricing-box-points-point-content">
                      <p set:html={point.pointContent} />
                    </div>
                  </div>
                );
              })}
            </div>
            <div class="pricing-box-bottom">
              <div class="pricing-box-bottitle">
                <p>{box.bottomTitle}</p>
              </div>
              <div class="pricing-box-link">
                <a target="_blank" rel="noopener" href={box.buttonLink}>
                  {box.buttonText}
                </a>
              </div>
            </div>
          </div>
        );
      })
    }
  </Wrapper>
</div>
