---
import "./linkBlock.scss";
import Wrapper from "../shared/Wrapper.astro";
import Headline from "../shared/Headline.astro";
import Button from "../shared/Button.astro";
---

<div class="polink">
  <Wrapper classes="polink-wrapper" wrapType="stand">
    <div class="polink-content">
      <Headline ele="h3" hlstyle="three">{Astro.props.data.content}</Headline>
    </div>
    <div class="polink-btn">
      <Button target="_blank" rel="noopener" href={Astro.props.data.buttonUrl}
        >{Astro.props.data.buttonText}</Button
      >
    </div>
  </Wrapper>
</div>

<div class="polink polink-two">
  <Wrapper classes="polink-wrapper" wrapType="stand">
    <div class="polink-content">
      <Headline ele="h3" hlstyle="three">{Astro.props.data.contentTwo}</Headline
      >
    </div>
    <div class="polink-btn">
      <Button
        target="_blank"
        rel="noopener"
        href={Astro.props.data.buttonUrlTwo}
        >{Astro.props.data.buttonTextTwo}</Button
      >
    </div>
  </Wrapper>
</div>
