---
import { Image } from "astro:assets";
import Wrapper from "../shared/Wrapper.astro";
import "./heroIntro.scss";
---

<div class="workspaces-hero">
  <div class="workspaces-hero-image">
    <div class="workspaces-hero-image-wrapper">
      <Image
        src={Astro.props.data.heroImage.sourceUrl}
        alt={Astro.props.data.heroImage.altText}
        inferSize={true}
      />
    </div>
  </div>

  <div class="workspaces-hero-content">
    <Wrapper>
      <h1 set:html={Astro.props.data.mainTitle} />
      <div set:html={Astro.props.data.mainContent} />
    </Wrapper>
  </div>
</div>
